/* Wishlist.css */
.wishlist-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wishlist-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 300px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
.btn5{
    border: none;
    border-radius: 5px;
    background-color: navy;
    color: white;
    padding: 10px,5px;
    display: grid;
    justify-content: center;
    text-decoration: none;
    position: relative;
    top: -130px;
}  

.ultag{
    position: relative;
    top: -190px;
    font-size: 20px;
    left: 25px;
    text-decoration: none;

}

.head1{
    font-size: 50px;
    position: relative;
    top: -180px;
    color: orange;
}
